<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.internshipproject">
    <!-- permissions for INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternshipProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".checkStatus"
            android:exported="false" />
        <activity
            android:name=".registerForm3"
            android:exported="false" />
        <activity
            android:name=".registerForm2"
            android:exported="false" />
        <activity
            android:name=".registerForm1"
            android:exported="false" />
        <activity
            android:name=".termsandconditions"
            android:exported="false" />
        <activity
            android:name=".viewCompetitionDetails"
            android:exported="false" />
        <activity
            android:name=".memories2012"
            android:exported="false" />
        <activity
            android:name=".memories2013"
            android:exported="false" />
        <activity
            android:name=".memories2014"
            android:exported="false" />
        <activity
            android:name=".memories2015"
            android:exported="false" />
        <activity
            android:name=".memories2016"
            android:exported="false" />
        <activity
            android:name=".memories2017"
            android:exported="false" />
        <activity
            android:name=".memories2018"
            android:exported="false" />
        <activity
            android:name=".memories2019"
            android:exported="false" />
        <activity
            android:name=".viewWinningProject"
            android:exported="false" />
        <activity
            android:name=".notification"
            android:exported="false" />
        <activity
            android:name=".uploadSubmission"
            android:exported="false" />
        <activity
            android:name=".registerCompetition"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".homeActivity"
            android:exported="false" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="false" />
        <activity
            android:name=".contactUs"
            android:exported="false" />
        <activity
            android:name=".howWeStarted"
            android:exported="false" />
        <activity
            android:name=".aboutUs"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>